# Conda environment requirements
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
_openmp_mutex
asttokens
attrs
blas
bottleneck
bzip2
ca-certificates
certifi
charset-normalizer
comm
debugpy
decorator
exceptiongroup
executing
idna
importlib-metadata
ipykernel
ipython
jedi
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
krb5
ld_impl_linux-64
libedit
libffi
libgcc-ng
libgomp
libsodium
libstdcxx-ng
libuuid
matplotlib-inline
ncurses
nest-asyncio
numexpr
openssl
packaging
pandas
parso
pexpect
pickleshare
pip
platformdirs
prompt-toolkit
psutil
ptyprocess
pure_eval
pygments
python
python-dateutil
python-tzdata
python_abi
pytz
pyzmq
readline
referencing
requests
rpds-py
setuptools
six
sqlite
stack_data
tbb
tk
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
wheel
xz
zeromq
zipp
zlib
